pandas
numpy
scikit-learn
openai
langchain
chromadb
tiktoken
pyyaml
faiss-cpu
huggingface_hub
transformers
accelerate
sentence_transformers
langchain-community
torch
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
torchaudio
streamlit-community-navigation-bar
streamlit